nav, footer{background-color: #f2f2f2}

#app li {
    border-bottom: solid 1px #dadada;
    padding: 10px;
}

#app a.excluir_tarefa, #app a.arquivar_tarefa {
    margin-left: 10px;
}

.arquivado{
	color: pink;
}

footer{
	height: 150px;
	padding: 5px;

}