nav, footer{background-color: #f2f2f2}

#app li {
    border-bottom: solid 1px #dadada;
    padding: 10px;
}

#app a.btn.btn-outline-danger {
    margin-left: 10px;
}

footer{
	height: 150px;
	padding: 5px;

}